.App {
  text-align: center;
}

.nav{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgb(129, 180, 87);
  height: 50px;
}

.App-header{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
}

a{ 
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-size: medium;
}

.product-card{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.Card-body{
  margin-top: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:aliceblue;
}
.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}
label, input {
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content:space-between;
}
label {
  text-align: right;
  width: 30%;
}
input {
  border:none;
  border-bottom: 2px solid rgb(140, 137, 137);
  border-radius: 2px;
  margin:10px;
}
.product-list-card{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
table {
  margin-top: 10px;
  letter-spacing: 1px;
  grid-column-start: 2;
  grid-column-end: 3;
}
tbody{
  background-color:rgb(171, 170, 168);
}
thead{
  background-color: rgb(92, 92, 92);;
  height:50px;
  color:aliceblue;
  border:2px solid black;
  border-radius: 3px;
}

td{
  text-align: center;
} 

.delete-button{
  background-color: red;
  color: whitesmoke;
  margin:5px;
  border-color: red;
  padding: 3px;
  border-radius: 3px;
  cursor:pointer;
}
.success-button{
  background-color: green;
  color:whitesmoke;
  margin:5px;
  border-color: green;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.cart-section{
  display: grid;
  grid-template-columns: 60% 40%;
}
.added-product{
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 2;

}
.cart-summary{
  margin-top: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.card{
  background-color: aliceblue;
  margin: 80px;
}
.card div{
  margin: 30px;
}

.card button{
  border: 2px solid rgb(59, 58, 58);
  background-color: white;
  width:80px;
  border-radius: 4px;
  color: black;
  margin-bottom: 30px;
}
.cart-product{
  background-color: antiquewhite;
  margin:5px 20px 5px 20px;
  text-align: left;
  padding:10px;
  
}
.quantity label{
  padding: 0px 10px 0px 0px;
}

.cart-image{
  height:80vh;
  margin-top: 20px;
}



